# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\www\qy1\javaqy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
